body {
    background:url(images/cardbg.png) no-repeat fixed;
    background-size: cover;

  }
  
.cardbg {
    background:url(images/cardbg.png) no-repeat fixed;
    background-size: cover;

  }

.hide  {
    display: none;
}

.show {
    display: block;
}
